firebase-admin==6.6.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
librosa==0.10.2
soundfile==0.12.1
python-dotenv==1.0.1
requests==2.32.3
cryptography==43.0.1
pyTelegramBotAPI==4.23.1
schedule==1.2.2